@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  color: black;
}

h3 {
  color: black;
}

.primary .timeline {
  position: relative;
  margin: 20px 0;
  padding-left: 10px; /* Space for the line */
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px; /* Position of the timeline line */
  width: 2px;
  height: 100%;
  background-color: #ccc; /* Color of the timeline line */
}

.timeline-item {
  position: relative;
  margin-bottom: 20px;
}

.timeline-date {
  position: absolute;
  left: -10px; /* Offset from the timeline dot */
  transform: translateX(
    -100%
  ); /* Moves the date to the left of the timeline dot */
  font-size: 14px;
  color: #777;
}

.timeline-content h3 {
  margin-top: 0;
}
